<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuafu.web.mapper.DietRecommendationStatisticsMapper">

    <resultMap id="diet_recommendation_creation_time_datetime_statistic_d9cff743_countStatistic0" type="com.kuafu.web.entity.DietRecommendationCreationTimeDatetimeStatisticD9cff743Count$Statistic0">
        <result property="creationTime" column="creation_time"/>
        <result property="result_kf" column="result_kf"/>
    </resultMap>
<resultMap id="diet_recommendation_creation_time_datetime_statistic_24a31926_countStatistic0" type="com.kuafu.web.entity.DietRecommendationCreationTimeDatetimeStatistic24a31926Count$Statistic0">
        <result property="creationTime" column="creation_time"/>
        <result property="result_kf" column="result_kf"/>
    </resultMap>
<resultMap id="diet_recommendation_creation_time_datetime_statistic_6372a03f_countStatistic0" type="com.kuafu.web.entity.DietRecommendationCreationTimeDatetimeStatistic6372a03fCount$Statistic0">
        <result property="creationTime" column="creation_time"/>
        <result property="result_kf" column="result_kf"/>
    </resultMap>



    <select id="diet_recommendation_creation_time_datetime_statistic_d9cff743_count" resultMap="diet_recommendation_creation_time_datetime_statistic_d9cff743_countStatistic0">
        select
                dr.creation_time  
                ,  count(dr.diet_recommendation_id)
 as result_kf
        FROM diet_recommendation dr

        ${ew.customSqlSegment}
        group by 
            dr.creation_time
    </select>


    <select id="diet_recommendation_creation_time_datetime_statistic_24a31926_count" resultMap="diet_recommendation_creation_time_datetime_statistic_24a31926_countStatistic0">
        select
                dr.creation_time  
                ,  count(dr.diet_recommendation_id)
 as result_kf
        FROM diet_recommendation dr

        ${ew.customSqlSegment}
        group by 
            dr.creation_time
    </select>


    <select id="diet_recommendation_creation_time_datetime_statistic_6372a03f_count" resultMap="diet_recommendation_creation_time_datetime_statistic_6372a03f_countStatistic0">
        select
                dr.creation_time  
                ,  count(dr.diet_recommendation_id)
 as result_kf
        FROM diet_recommendation dr

        ${ew.customSqlSegment}
        group by 
            dr.creation_time
    </select>



</mapper>
