<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuafu.web.mapper.MedicineRecommendationStatisticsMapper">

    <resultMap id="medicine_recommendation_creation_time_datetime_statistic_d4e51f2a_countStatistic0" type="com.kuafu.web.entity.MedicineRecommendationCreationTimeDatetimeStatisticD4e51f2aCount$Statistic0">
        <result property="creationTime" column="creation_time"/>
        <result property="result_kf" column="result_kf"/>
    </resultMap>
<resultMap id="medicine_recommendation_creation_time_datetime_statistic_660c8953_countStatistic0" type="com.kuafu.web.entity.MedicineRecommendationCreationTimeDatetimeStatistic660c8953Count$Statistic0">
        <result property="creationTime" column="creation_time"/>
        <result property="result_kf" column="result_kf"/>
    </resultMap>
<resultMap id="medicine_recommendation_creation_time_datetime_statistic_fb391654_countStatistic0" type="com.kuafu.web.entity.MedicineRecommendationCreationTimeDatetimeStatisticFb391654Count$Statistic0">
        <result property="creationTime" column="creation_time"/>
        <result property="result_kf" column="result_kf"/>
    </resultMap>



    <select id="medicine_recommendation_creation_time_datetime_statistic_d4e51f2a_count" resultMap="medicine_recommendation_creation_time_datetime_statistic_d4e51f2a_countStatistic0">
        select
                mr.creation_time  
                ,  count(mr.medicine_recommendation_id)
 as result_kf
        FROM medicine_recommendation mr

        ${ew.customSqlSegment}
        group by 
            mr.creation_time
    </select>


    <select id="medicine_recommendation_creation_time_datetime_statistic_660c8953_count" resultMap="medicine_recommendation_creation_time_datetime_statistic_660c8953_countStatistic0">
        select
                mr.creation_time  
                ,  count(mr.medicine_recommendation_id)
 as result_kf
        FROM medicine_recommendation mr

        ${ew.customSqlSegment}
        group by 
            mr.creation_time
    </select>


    <select id="medicine_recommendation_creation_time_datetime_statistic_fb391654_count" resultMap="medicine_recommendation_creation_time_datetime_statistic_fb391654_countStatistic0">
        select
                mr.creation_time  
                ,  count(mr.medicine_recommendation_id)
 as result_kf
        FROM medicine_recommendation mr

        ${ew.customSqlSegment}
        group by 
            mr.creation_time
    </select>



</mapper>
