<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuafu.web.mapper.ReminderTypeEnumStatisticsMapper">

    <resultMap id="reminder_type_enum_reminder_type_enum_id_status_statistic_e178f79f_countStatistic0" type="com.kuafu.web.entity.ReminderTypeEnumReminderTypeEnumIdStatusStatisticE178f79fCount$Statistic0">
        <result property="reminderTypeEnumId" column="reminder_type_enum_id"/>
        <result property="result_kf" column="result_kf"/>
    </resultMap>
<resultMap id="reminder_type_enum_reminder_type_enum_id_status_statistic_4133ff9f_countStatistic0" type="com.kuafu.web.entity.ReminderTypeEnumReminderTypeEnumIdStatusStatistic4133ff9fCount$Statistic0">
        <result property="reminderTypeEnumId" column="reminder_type_enum_id"/>
        <result property="result_kf" column="result_kf"/>
    </resultMap>
<resultMap id="reminder_type_enum_reminder_type_enum_id_status_statistic_3179cc92_countStatistic0" type="com.kuafu.web.entity.ReminderTypeEnumReminderTypeEnumIdStatusStatistic3179cc92Count$Statistic0">
        <result property="reminderTypeEnumId" column="reminder_type_enum_id"/>
        <result property="result_kf" column="result_kf"/>
    </resultMap>



    <select id="reminder_type_enum_reminder_type_enum_id_status_statistic_e178f79f_count" resultMap="reminder_type_enum_reminder_type_enum_id_status_statistic_e178f79f_countStatistic0">
        select
                rte.reminder_type_enum_id  
                ,  count(rte.reminder_type_enum_id)
 as result_kf
        FROM reminder_type_enum rte

        ${ew.customSqlSegment}
        group by 
            rte.reminder_type_enum_id
    </select>


    <select id="reminder_type_enum_reminder_type_enum_id_status_statistic_4133ff9f_count" resultMap="reminder_type_enum_reminder_type_enum_id_status_statistic_4133ff9f_countStatistic0">
        select
                rte.reminder_type_enum_id  
                ,  count(rte.reminder_type_enum_id)
 as result_kf
        FROM reminder_type_enum rte

        ${ew.customSqlSegment}
        group by 
            rte.reminder_type_enum_id
    </select>


    <select id="reminder_type_enum_reminder_type_enum_id_status_statistic_3179cc92_count" resultMap="reminder_type_enum_reminder_type_enum_id_status_statistic_3179cc92_countStatistic0">
        select
                rte.reminder_type_enum_id  
                ,  count(rte.reminder_type_enum_id)
 as result_kf
        FROM reminder_type_enum rte

        ${ew.customSqlSegment}
        group by 
            rte.reminder_type_enum_id
    </select>



</mapper>
