<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuafu.web.mapper.ImMessageMapper">

    <select id="pageByConversation" resultType="com.kuafu.web.model.ImMessage">
        SELECT *
        FROM im_message
        WHERE conversation_id = #{conversationId}
        <if test="beforeId != null">
            AND message_id &lt; #{beforeId}
        </if>
        ORDER BY message_id DESC
        LIMIT #{limit}
    </select>

</mapper>
