<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuafu.web.mapper.SystemSettingsAllMapper">
    <sql id="system_settings_list_sql">
        select
        ui.password   ,
        ss.user_info_user_info_id_1   ,
        ui.registration_date   ,
        ss.reminder_volume   ,
        ss.system_settings_id   ,
        ss.font_size   ,
        ss.questionnaire_exported   ,
        ui.phone_number   ,
        ui.last_login_date   ,
        ui.username   


        FROM system_settings ss
        left join user_info ui on ss.user_info_user_info_id_1 = ui.user_info_id

        </sql>

        <resultMap id="selectListNewMap" type="com.kuafu.web.entity.SystemSettingsAll">

        <result property="password" column="password"/>

        <result property="userInfoUserInfoId1" column="user_info_user_info_id_1"/>

        <result property="registrationDate" column="registration_date"/>

        <result property="reminderVolume" column="reminder_volume"/>

        <result property="systemSettingsId" column="system_settings_id"/>

        <result property="fontSize" column="font_size"/>

        <result property="questionnaireExported" column="questionnaire_exported"/>

        <result property="phoneNumber" column="phone_number"/>

        <result property="lastLoginDate" column="last_login_date"/>

        <result property="username" column="username"/>




        </resultMap>

<select id="selectListNew"  resultMap="selectListNewMap">
select
ui.password   ,
ss.user_info_user_info_id_1   ,
ui.registration_date   ,
ss.reminder_volume   ,
ss.system_settings_id   ,
ss.font_size   ,
ss.questionnaire_exported   ,
ui.phone_number   ,
ui.last_login_date   ,
ui.username   



        FROM system_settings ss
        left join

        user_info

        ui on ss.user_info_user_info_id_1 = ui.user_info_id



${ew.customSqlSegment}
        </select>

<select id="selectList" resultType="com.kuafu.web.entity.SystemSettingsAll">
select
ui.password   ,
ss.user_info_user_info_id_1   ,
ui.registration_date   ,
ss.reminder_volume   ,
ss.system_settings_id   ,
ss.font_size   ,
ss.questionnaire_exported   ,
ui.phone_number   ,
ui.last_login_date   ,
ui.username   


        FROM system_settings ss
        left join user_info ui on ss.user_info_user_info_id_1 = ui.user_info_id


${ew.customSqlSegment}
        </select>

<select id="selectPage" resultType="com.kuafu.web.entity.SystemSettingsAll">
select
ui.password  ,
ss.user_info_user_info_id_1  ,
ui.registration_date  ,
ss.reminder_volume  ,
ss.system_settings_id  ,
ss.font_size  ,
ss.questionnaire_exported  ,
ui.phone_number  ,
ui.last_login_date  ,
ui.username  



        FROM system_settings ss
        left join user_info ui on ss.user_info_user_info_id_1 = ui.user_info_id





${ew.customSqlSegment}
        </select>

<select id="selectById" resultType="com.kuafu.web.entity.SystemSettingsAll">
select
ui.password  ,
ss.user_info_user_info_id_1  ,
ui.registration_date  ,
ss.reminder_volume  ,
ss.system_settings_id  ,
ss.font_size  ,
ss.questionnaire_exported  ,
ui.phone_number  ,
ui.last_login_date  ,
ui.username  


        FROM system_settings ss
        left join user_info ui on ss.user_info_user_info_id_1 = ui.user_info_id



        where ss.system_settings_id = #{id}
        </select>

<select id="selectCount" resultType="java.lang.Long">
select
count(*)



FROM system_settings ss
left join user_info ui on ss.user_info_user_info_id_1 = ui.user_info_id



${ew.customSqlSegment}


        </select>

        </mapper>
